flask
flask-cors
nltk
spacy
textblob
scikit-learn
numpy
scipy
joblib
threadpoolctl
regex
tqdm
requests
jinja2
click
itsdangerous
werkzeug
blis
catalogue
cymem
murmurhash
preshed
srsly
thinc
typer
wasabi